@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#btn-exp-gratis {
    padding: 10px 30px 10px 30px;
    margin: 5px;
    background-color: transparent;
    border: 2px solid #a3c7f7;
    border-radius: 30px;
    font-size: 20pt;

}

main {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#h1-mini-bio {
    width: 100%;
    font-size: 40pt;
    font-weight: 900;
    letter-spacing: 1px;
}

.p-mini-bio {
    font-size: 14pt;
    width: 40vw;
    text-align: center;
}

#btn-com-gratis {
    width: 150%;
    height: 8vh;
    padding: 10px 30px 10px 30px;
    margin: 5px;
    background-color: #1778fb;
    border: none;
    border-radius: 40px;
    font-size: 18pt;
    font-weight: 600;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

article {
    width: 100%;
    height: 50vh;
    padding: 10px 100px 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url();
}

footer {
    background: #a7a7a7;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
}

#comunities {
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0px 50px 50px;
}

#messages {
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0px 50px 50px;
}

.h1-estatisticas {

    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size: 50pt;
}

.p-estatisticas {
    text-align: left;
    color: #a7a7a7;
    font-size: 20pt;
}

#crescer,
#conversas,
#usuarios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#div-crescer,
#div-conversas,
#div-usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15vw;

}

#div-crescer-txt,
#div-conversas-txt,
#div-usuarios-txt {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h1-crescer-txt,
.h1-conversas-txt,
.h1-usuarios-txt {
    font-size: 40pt;
}

.p-crescer-txt,
.p-conversas-txt,
.p-usuarios-txt {
    font-size: 20pt;
}

#img-together,
#img-conversation,
#img-users {
    width: 25vw;
}

#sec-final {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sec-final-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

#h1-final-txt {
    font-size: 40pt;
}

#btn-final {
    width: 30%;
}

#btn-final-gratis {
    width: 100%;
    height: 8vh;
    padding: 10px 30px 10px 30px;
    margin: 5px;
    background-color: #1778fb;
    border: none;
    border-radius: 40px;
    font-size: 18pt;
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

#boletim {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contatos {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#logo-footer {
    width: 300px;
}

#formas-de-contato {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#tel,
#email {
    display: flex;
    gap: 20px;
}

.btn-se-inscrever {
    width: 20%;
    height: 5vh;
    margin: 5px;
    background-color: #1778fb;
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    font-weight: 600;
}

.color-white {
    color: white;
}

.f-size {
    font-size: 18pt;
}

.f-size-11 {
    font-size: 11pt;
}

#redes-sociais {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.social-m-size {
    width: 60px;
    padding: 0;
}